In [3]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages

In [142]:
%run __init__.py

def make_query(title):
    title = re.sub('\\s', '+', re.sub(':','%3A+', title.strip()))
    query = 'http://en.wikipedia.org/w/api.php?action=query&format=json&'+\
    'list=categorymembers&cmtitle={}'.format(title)+'&cmlimit=max'
    return query

def query(title):
    r = requests.get(make_query(title)).json()
    try:
        return r['query']['categorymembers']
    except:
        print('Error with: ', make_query(title), r)
        return {'title':[]}

def content_query(pageid):
    URL = 'http://en.wikipedia.org/w/api.php?action=query&format=json&pageids={}&prop=extracts&rvprop=content'.format(pageid)
    query = requests.get(URL)
    return query

def get_text(pageid):
    try:
        pageid = str(int(pageid))
        r = content_query(pageid)
        text = r.json()['query']['pages'][pageid]['extract']
        return text
    except:
        print("{} is a problem with get_text".format(pageid))        
def clean_text(text):
    text = re.findall('\u003E([\w\s\,\.][^\u003C]+)(?=\u003C[\w\/])', text)
    #find all text between ">" and "</".
    text = ' '.join(text) #make a string out of it
    text = unicodedata.normalize('NFKD', text) #take unicode like /xao3 and make them normal
    text = re.sub('\\n', '', re.sub('\s+', ' ', text)) #get rid of \n, and condense spaces.
    text = re.sub('[\.,](?=\w[^\.])', '. ', text) #Shark.b8 -> Shark. b8; B.C. -> B.C.
    
    text = re.sub("\'", "", text)
    #For some reason I can't simply replace \' with ', so I'm just getting rid of it all.
    #e.g. 'through Bayes\' rule.Sthrough Bayes\' rule.S'.replace("\'","'") works,
    #but if you do text = text.replace(...) it doesn't. I don't know why.
    
    text = re.sub(r"\B([A-Z])", r" \1", text) #or (?<=\w)([A-Z]). ABaby -> A Baby
    text = re.sub('(:)(?=\w)', ': ', text) #for example:child -> for example: child
    return text

In [108]:
example_title = 'Category:American ornithological writers'
example_category_query_html = make_query(example_title); print(example_category_query_html)
example_cat_members = query(example_title); print(example_cat_members)
example_pageid = example_cat_members[1]['pageid']; print(example_pageid)
example_text = get_text(str(int(example_pageid))); print(example_text[0:20])
example_clean_text = clean_text(example_text); print(example_clean_text[0:20])

http://en.wikipedia.org/w/api.php?action=query&format=json&list=categorymembers&cmtitle=Category%3A+American+ornithological+writers&cmlimit=max
[{'pageid': 28885582, 'ns': 0, 'title': 'Alfred Marshall Bailey'}, {'pageid': 48784947, 'ns': 0, 'title': 'Gladys Black'}, {'pageid': 47515963, 'ns': 0, 'title': 'Edward H. Burtt Jr.'}, {'pageid': 4173249, 'ns': 0, 'title': 'Stanley Cobb'}, {'pageid': 32451306, 'ns': 0, 'title': 'William Leon Dawson'}, {'pageid': 8663808, 'ns': 0, 'title': 'Caroline Dormon'}, {'pageid': 4409559, 'ns': 0, 'title': 'Bernd Heinrich'}, {'pageid': 21799405, 'ns': 0, 'title': 'Ralph Hoffmann'}, {'pageid': 22619859, 'ns': 0, 'title': 'Milton N. Hopkins'}, {'pageid': 44565943, 'ns': 0, 'title': 'Richard F. Johnston'}, {'pageid': 3463908, 'ns': 0, 'title': 'Kenn Kaufman'}, {'pageid': 30557049, 'ns': 0, 'title': 'Graceanna Lewis'}, {'pageid': 52638022, 'ns': 0, 'title': 'Lacy Irvine Moffett'}, {'pageid': 332896, 'ns': 0, 'title': 'Roger Tory Peterson'}, {'pageid': 27334521, 'ns': 0, 'title': 'Sewall Pettingill'}, {'pageid': 897230, 'ns': 0, 'title': 'Pamela C. Rasmussen'}, {'pageid': 34821547, 'ns': 0, 'title': 'Chandler Robbins'}, {'pageid': 43225079, 'ns': 0, 'title': 'Don Stap'}, {'pageid': 161523, 'ns': 0, 'title': 'Robert Stroud'}, {'pageid': 49230100, 'ns': 0, 'title': 'Noah Strycker'}, {'pageid': 55841833, 'ns': 0, 'title': 'Thomas Sadler Roberts'}, {'pageid': 52476969, 'ns': 0, 'title': 'William Lay Thompson'}, {'pageid': 15160266, 'ns': 0, 'title': 'Melvin Alvah Traylor Jr.'}, {'pageid': 35937441, 'ns': 0, 'title': 'Lawrence H. Walkinshaw'}, {'pageid': 23345342, 'ns': 0, 'title': 'Scott Weidensaul'}, {'pageid': 1358785, 'ns': 0, 'title': 'Marie Winn'}, {'pageid': 20184272, 'ns': 0, 'title': 'Lawrence Zeleny'}]
48784947
<p><b>Gladys Bowery
Gladys Bowery Black

In [122]:
def category_search(pickle = False, original_categories = None): #Step 1
    if original_categories == None:
        original_categories = set(str(x) for x in input().strip().split(','));
    else: 
        original_categories = set(str(x) for x in original_categories.strip().split(','));
    print(original_categories)
    if pickle: #If I want to pickle something...:
        json_list = []
        #Make an empty list to use in case I don't want to put stuff in my MongoDB.
        #This function will turn the list into a pd.DataFrame and pickle it, if so.
    else:
        client = pymongo.MongoClient('54.201.49.164', 27016)
        client.drop_database('wiki_database')
        db_ref = client.wiki_database
        coll_ref = db_ref.wiki_text

    for original in original_categories:
        categories, visited = set([original],), set();
        while 1:
            if not len(categories):
                break
            visited.update(categories)
            category = categories.pop()
            temp_df = pd.DataFrame(query(category))
            temp_df.set_index('title', inplace = True)
            try: titles = set(temp_df.index)
            except: print('The only non-categories are', visited - categories)
            categories.update(set(title for title in titles if 'Category:' in title))
            titles = titles - categories
            for title in titles:
                page_id = str(int(temp_df.loc[title, 'pageid']))
                text = clean_text(get_text(page_id))
                temp_json = {'proximate_category': category,
                             'ultimate_category': original,
                             'page_name': title,
                             'page_id': page_id,
                             'text': text,
                            }
                if pickle: 
                    json_list.append(temp_json)
                else:
                    coll_ref.insert_one(temp_json)
    if pickle: 
        pickle_df = pd.DataFrame(json_list)
        pickle_df.to_pickle('wiki_clean_text_df.p')
    else: 
        print('Not Pickled')

In [123]:
category_search(True, 'Category:American ornithological writers')

{'Category:American ornithological writers'}

In [116]:
def get_dataframe():
    try:
        print('Trying to read db from local pickle.')
        df = pd.read_pickle('wiki_clean_text_df.p')
        df[0]
        return df
    except:
        print('Failed to read db from local pickle, trying to read from online database.')
        try: 
            client = pymongo.MongoClient('54.201.49.164', 27016)
            db_ref = client.wiki_database
            coll_ref = db_ref.wiki_text
            cursor = coll_ref.find()
            all_pages = list(cursor)
            df = pd.DataFrame(all_pages)
            return df
        except:
            print('Database inaccessible. Please try again when it is available.')
            return

In [232]:
get_dataframe().head()

Trying to read db from local pickle.
Failed to read db from local pickle, trying to read from online database.

,_id,page_id,page_name,proximate_category,text,ultimate_category
0,5a2cb362ccd10800ce71f7a3,27334521,Sewall Pettingill,Category:American ornithological writers,"Olin Sewall Pettingill, Jr. , (October 30, 190...",Category:American ornithological writers
1,5a2cb363ccd10800ce71f7a4,3463908,Kenn Kaufman,Category:American ornithological writers,Kenn Kaufman (born 1954) is an American author...,Category:American ornithological writers
2,5a2cb363ccd10800ce71f7a5,30557049,Graceanna Lewis,Category:American ornithological writers,"Graceanna Lewis (August 3, 1821 – February 25,...",Category:American ornithological writers
3,5a2cb363ccd10800ce71f7a6,43225079,Don Stap,Category:American ornithological writers,Don Stap (born 1949) is an American author who...,Category:American ornithological writers
4,5a2cb363ccd10800ce71f7a7,44565943,Richard F. Johnston,Category:American ornithological writers,"Richard Fourness Johnston (July 27, 1925 – Nov...",Category:American ornithological writers

In [121]:
def make_tfidf_matrix_df(df, tfidf_vectorizer = None, min_df = 2, stop_words = 'english'):
    if tfidf_vectorizer == None: 
        tfidf_vectorizer = TfidfVectorizer(min_df = min_df, stop_words = stop_words)
        term_matrix_sps = tfidf_vectorizer.fit_transform(df.text)
    else: term_matrix_sps = tfidf_vectorizer.transform(df.text);
    tfidf_vectorizer = TfidfVectorizer(min_df = min_df, stop_words = stop_words)
    term_matrix_sps = tfidf_vectorizer.fit_transform(df.text)
    term_matrix_df = pd.DataFrame(term_matrix_sps.toarray(),
                                  index=df.page_name,
                                  columns=tfidf_vectorizer.get_feature_names(),
                                 )
    return term_matrix_df
make_tfidf_matrix_df(df).head()

,00,000,10,100,11,110,116,12,125,13,...,written,wrote,year,years,york,yorks,young,younger,zoological,zoology
page_name,,,,,,,,,,,,,,,,,,,,,
Sewall Pettingill,0.0,0.000000,0.0,0.0,0.105056,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.043481,0.070949,0.090900,0.0,0.000000,0.0,0.0,0.000000
Kenn Kaufman,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.099502,0.027060,0.000000,0.0,0.000000,0.0,0.0,0.000000
Graceanna Lewis,0.0,0.000000,0.0,0.0,0.026365,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.021824,0.071221,0.068437,0.0,0.000000,0.0,0.0,0.026365
Don Stap,0.0,0.044229,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.053456,0.0,0.000000,0.028308,0.181341,0.0,0.044229,0.0,0.0,0.000000
Richard F. Johnston,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.056702,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.101461

In [237]:
def page_match(search): #Step 2
    #Establish a dataframe from either a pickled version or pulled from MongoDB.
    df = get_dataframe()
    #Make a TFIDF Matrix from the database established above.
    #document_term_matrix_df = make_tfidf_matrix_df(df)
    tfidf_vectorizer = TfidfVectorizer(min_df = 2, stop_words = 'english')
    term_matrix_sps = tfidf_vectorizer.fit_transform(df.text)
    document_term_matrix_df = pd.DataFrame(term_matrix_sps.toarray(),
                                  index=df.page_name,
                                  columns=tfidf_vectorizer.get_feature_names(),
                                 )
    if type(search) != str:
        #if search != a string, there is presumably more than one search being performed.
        #In such a case, the dataframe will have more than one search.
        search_list = [{'search':sample} for sample in list(search)]
        #idk why I picked sample, but I didn't want to use the plural "searches."
    else:
        #if search = 1 string, the dataframe will have only one search.
        search_list = list([{'search':search}])
    
    #Establish a keyword dataframe from the "search" put in above.
    search_df = pd.DataFrame(search_list)
    vectorized_search = tfidf_vectorizer.transform(search_df.search)
    search_df = pd.DataFrame(vectorized_search.toarray(),
                             index = search_df.search,
                             columns=tfidf_vectorizer.get_feature_names())
    return_df = pd.DataFrame() #make an empty DataFrame

    for search_instance in search_df.index: #go through the search terms and do an SVD Cosine Similarity to them.
        random_search_df = search_df.loc[search_instance]
        #display(random_search_df)
        
        dtm_with_search_term = document_term_matrix_df.append(random_search_df)
        #display(dtm_with_search_term)
        #Make an SVD and apply it to dtm_with_search_term
        n_components = len(dtm_with_search_term.index);
        SVD = TruncatedSVD(n_components)
        component_names = ['component_' + str(i+1) for i in range(n_components)]
        
        svd_matrix = SVD.fit_transform(dtm_with_search_term)
        
        svd_df = pd.DataFrame(svd_matrix,
                              index=dtm_with_search_term.index,
                              columns=component_names,
                             )
    
        #Find and sort the cosine similarity for the search term.
        search_term_svd_vector = svd_df.loc[search_instance]
        svd_df['cosine_sim'] = cosine_similarity(svd_df, search_term_svd_vector)
        svd_df.drop(search_instance, inplace = True)
        #display(svd_df)
        
        #Take the five most correlated results and put them in a df w/ the initial search term.
        temp_df = svd_df[['cosine_sim']].sort_values('cosine_sim', ascending=False).head(5)
        temp_df['search'] = search_instance
        #display(temp_df)
        return_df = pd.concat([return_df, temp_df]) #Add it to the main dataframe we're returning.
        
    #Return a df w/ the 5 most correlated pages per search.
    return return_df.head(1)

In [238]:
page_match(clean_text(get_text(query('Category:American ornithological writers')[0]['pageid'])))

Trying to read db from local pickle.
Failed to read db from local pickle, trying to read from online database.

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

,cosine_sim,search
page_name,,
Alfred Marshall Bailey,1.0,"Alfred Marshall Bailey (February 18, 1894 – Fe..."

In [253]:
def category_recommendation(page_text): #Step 3, I think??
    df = get_dataframe() #Acquire a DataFrame made previously.
    #Find the "nearest neighbors," 5 pages which have the highest correlation with the target.
    nearest_neighbors = page_match(page_text)
    
    #Make a mask to get rows of the neighbors from the df.
    is_a_neighbor = [title in nearest_neighbors.index for title in df['page_name'].values]
    neighbors = df[is_a_neighbor]
    neighbors_categories = neighbors.ultimate_category
    #Make a dictionary with the count of each unique neighbor.
    #If we had 2 neighbors ML & BS, the dict might look like [{ML:3}, {BS:2}]
    neighbor_count = {neighbor: sum(neighbors_categories == neighbor) for neighbor in set(neighbors_categories)}
    
    #Return the most common category possessed by the neighbors.
    #Since ML has a count of 3, it will be returned.
    most_common = None
    for new in neighbor_count.keys():
        if most_common == None: most_common = new
        if (neighbor_count[most_common] < neighbor_count[new]):
            most_common = new
    return most_common

In [254]:
category_recommendation(clean_text(get_text(query('Category:American ornithological writers')[0]['pageid'])))

Trying to read db from local pickle.
Failed to read db from local pickle, trying to read from online database.
Trying to read db from local pickle.
Failed to read db from local pickle, trying to read from online database.

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

'Category:American ornithological writers'

In [ ]:
#TO DO: Make it so that it doesn't pull the entire database.
#The problem is that the tfidf needs a whole database - i.e. more than one document.
#A possible method would be: Seeing if I can do the tf & idf separately. i.e., 
#1) Make term frequency vectors and store them in the database in addition to/instead of the text 
#2) Pick a # of samples of tf's from the DB, and sum the tf's to make a df.
#3) Discard columns with a df of < or > a specified number.
#4) Run the resultant tfidf matrix through an SVD. 
#5) Keep the best 5 and add their term frequency vectors to the next sample of 100.
#6) Repeat from 2 until the DB has been exhausted.